body {
  font-family: 'Amiri',serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

#navim{
  
  
  margin-top:16px;
  margin-left:10px;
}
.mainname{

  font-family: 'Mukta Malar',
  sans-serif;
}

.fontchange{
  font-family: 'Amiri',serif;
}

section {
  background-color: rgba(255, 255, 255, 0.788);
}

.firstclass {
  background-color: #022424;
  height: 100vh;
  color: white;
  font-size: 40px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

.logonam {
  font-size: 40px;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
  margin-bottom:10px;
}

.profileinfo {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.nameD {
  margin-left: 80px;
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: #48157b;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 5px;
}

.butt{
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: #0f0e10;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.butt:hover{
  background-color: #5d2110;
}
.button:hover {
  background-color: #6b4539;
}

.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

.networks {
  padding-bottom: 200px;
}

.logo {
  height: 80px;
  margin: 30px;
}
.media{
  margin: 20px;
}

.projectssection {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}
.aboutsection1 {
  display: flex;
  justify-content: space-around;
  padding: 78px;
}



.myimage {
  width: 300px;
  border-radius: 150px;
  margin-left: 80px;
}

.aboutsection2 {
  display: flex;
  align-items: center;
}

.project-card {
  width: 300px;
  height: 400px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 10px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-image {
  margin-top: 25px;
  width: 230px;
  border-radius: 125px;
}

.ct{
  margin-top:25px;
}


.project-link {
  text-decoration: none;
  color: #a99d99;
}


a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}



@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
    cursor:pointer;
  }

  
  ul {
    display: none;
    background-color: #2b2c38;
    margin: 0ppx;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #2b2c38;
  }

  .logo {
    display: none;
  }
}
.contactcon {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.contactcon h1 {
  margin-top: 81px;
  color: rgb(134, 123, 108)
}

.contactcon p {
  margin-top: 15px;
  color: rgb(134, 123, 108)
}

.contacticons {
  margin-top: 15px;
  width: 300px;
}

.contacticons img {
  margin-left: 30px;
}


.contacticons {
  display: flex;
}

.footnet {
  margin: 20px;
}

#Contact-me{
  height:150px;
  
}

.foohead{
  margin-top:1px;
  margin-bottom: 5px;
  
}

